<%= form_with(model: @micropost, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: 'Compose new tuit...' %>
  </div>
  <%= f.submit 'Post', class: "btn btn-primary" %>
  <span class="image" data-controller="image-validator">
    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png',
                    data: {
                      image_validator_target: 'input',
                      action: 'change->image-validator#validateSize'
                    } %>
  </span>
<% end %>
